<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container">
        <h1 class="fade-down">Mirrulations Explorer</h1>
        <div class="search-box fade-delay-2 fade-down">
            <input type="text" id="searchInput" placeholder="Search docket...">
            <select id="filterSelect">
                <option value="">All</option>
                <option value="Proposed Rule">Proposed Rule</option>
                <option value="Final Rule">Final Rule</option>
                <option value="Notice">Notice</option>
            </select>
            <button id="searchButton" onclick="search_endpoint()"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ffffff" viewBox="0 0 256 256"><path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path></svg></button>
        </div>
        <div id="output" class="results"></div>
    </div>
    <script src="/static/app.js"></script>
</body>
</html>
